/* Packages */

.nxd-tile-items-slider-container {
    background: rgba(0, 0, 0, .5);
}

.package-item-selector {
    background: rgba(0, 0, 0, .5);
    margin-top: 8px;
}

.package-item-selector > a {
    background-image: none !important;
    border-right-color: transparent !important;
    text-decoration: none;
}

.package-item-selector.uk-active > a {
    color: #ee9003 !important;
}

.nxd-tab-container::before {
    border-left-color: transparent;
}

/* Items */
.nxd-manufacturer-title{
    color: #ef9004;
    text-transform: uppercase;
    font-size: 1.2em;
}
.nxd-item-header-background-layer {
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
    background-color: rgba(0, 0, 0, 0.7);
}

.nxd-gallery-container {
    padding: 8px;
    background: rgba(0, 0, 0, .2)
}

.nxd-gallery-container #product-slideshow {
    border-top: 4px solid #ef9004;
}

.nxd-card-pricing{
    background: rgba(0, 0, 0, .5);
    border-top: 5px solid #ef9004;
}
.nxd-price{
    font-size: 1.2em;
}
.nxd-price-icon{
    color: #ef9004 !important;
}