<?xml version="1.0" encoding="utf-8"?>
<config>
	<fieldset
		name="equipmentmanager"
		label="COM_EQUIPMENT_MANAGER_FIELDSET_CONFIG_INDIVIDUAL"
		description="COM_EQUIPMENT_MANAGER_FIELDSET_CONFIG_INDIVIDUAL_DESC"
		>

		<field
			name="load_uikit"
			type="radio"
			class="btn-group btn-group-yesno"
			label="COM_EQUIPMENT_MANAGER_FIELD_CONFIG_LOAD_UIKIT"
			description="COM_EQUIPMENT_MANAGER_FIELD_CONFIG_LOAD_UIKIT_DESC"
			default="1"
			filter="integer"
			>
			<option value="1">JYES</option>
			<option value="0">JNO</option>
		</field>

	</fieldset>
	<fieldset
		name="permissions"
		label="JCONFIG_PERMISSIONS_LABEL"
		description="JCONFIG_PERMISSIONS_DESC"
		>
		<field
			name="rules"
			type="rules"
			label="JCONFIG_PERMISSIONS_LABEL"
			validate="rules"
			filter="rules"
			component="com_equipmentmanager"
			section="component"
		/>
	</fieldset>
</config>
